<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title color="primary">
      New Messages
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="light" [fullscreen]="true">
</ion-content>
  <ion-card>

    <ion-card-header>
      <ion-card-subtitle>Post New Message</ion-card-subtitle>
    </ion-card-header>

    <ion-card-content>
      <ion-item class="ion-no-padding">
        <ion-label position="stacked">Message:</ion-label>
        <ion-input [(ngModel)]="model.message" name="message" ></ion-input>
      </ion-item>

      
        <ion-item class="ion-no-padding">
          <ion-label position="stacked">Image URL:</ion-label>
          <ion-input [(ngModel)]="model.imageUrl" name="imageUrl"></ion-input>
        </ion-item>

        <ion-button (click)="onPost()" color="primary">
          Post Message
        </ion-button>
      </ion-card-content>

  </ion-card>